[init]
    defaultBranch = main

[core]
    autocrlf = input  # keep newlines as in input
    compression = 9  # trade cpu for network
    fsync = none
    whitespace = error  # threat incorrect whitespace as errors
    pager = "if [ ! -z \"$(which diff-so-fancy)\" ]; then diff-so-fancy | less --tabs=4 -RFX; else cat; fi"

[advice]  # disable advices
    addEmptyPathspec = false
    pushNonFastForward = false
    statusHints = false

[blame]
    coloring = highlightRecent
    date = relative

[diff]
    context = 3  # less context in diffs
    renames = copies  # detect copies as renames in diffs
    interHunkContext = 10  # merge near hunks in diffs

[log]
    abbrevCommit = true  # short commits
    graphColors = blue,yellow,cyan,magenta,green,red

[commit]
    template=~/.gittemplate

[pager]
    branch = false  # no need to use pager for git branch

[push]
    autoSetupRemote = true
    default = current

[pull]
    default = current
    rebase = true

[rebase]
    autoStash = true

[status]
    branch = true
    short = true
    showStash = true
    showUntrackedFiles = all  # show individual untracked files

[user]
	name = m1well
	email = michaelwellner@gmx.de
