{
    "Profiles": [
  {
  "Prompt Before Closing 2" : false,
  "Selected Text Color" : {
    "Green Component" : 0,
    "Blue Component" : 0,
    "Red Component" : 0
  },
  "Rows" : 60,
  "Ansi 11 Color" : {
    "Green Component" : 1,
    "Blue Component" : 0.33,
    "Red Component" : 1
  },
  "Use Italic Font" : true,
  "Foreground Color" : {
    "Green Component" : 0.73,
    "Blue Component" : 0.73,
    "Red Component" : 0.73
  },
  "Right Option Key Sends" : 0,
  "Character Encoding" : 4,
  "Selection Color" : {
    "Green Component" : 0.84,
    "Blue Component" : 1,
    "Red Component" : 0.71
  },
  "Mouse Reporting" : true,
  "Cursor Boost" : 0.094,
  "Ansi 4 Color" : {
    "Green Component" : 0,
    "Blue Component" : 0.73,
    "Red Component" : 0
  },
  "Non-ASCII Anti Aliased" : true,
  "Sync Title" : false,
  "Description" : "Default",
  "Disable Window Resizing" : true,
  "Close Sessions On End" : true,
  "Jobs to Ignore" : [
    "rlogin",
    "ssh",
    "slogin",
    "telnet"
  ],
  "Scrollback Lines" : 3000,
  "Flashing Bell" : false,
  "BM Growl" : true,
  "AWDS Window Directory" : "",
  "Ansi 3 Color" : {
    "Green Component" : 0.73,
    "Blue Component" : 0,
    "Red Component" : 0.73
  },
  "Use Non-ASCII Font" : false,
  "Shortcut" : "",
  "Background Image Location" : "",
  "Bold Color" : {
    "Green Component" : 1,
    "Blue Component" : 1,
    "Red Component" : 1
  },
  "Use Cursor Guide" : false,
  "Unlimited Scrollback" : false,
  "Custom Command" : "No",
  "AWDS Tab Option" : "No",
  "Keyboard Map" : {
    "0xf700-0x260000" : {
      "Action" : 10,
      "Text" : "[1;6A"
    },
    "0x37-0x40000" : {
      "Action" : 11,
      "Text" : "0x1f"
    },
    "0x32-0x40000" : {
      "Action" : 11,
      "Text" : "0x00"
    },
    "0xf709-0x20000" : {
      "Action" : 10,
      "Text" : "[17;2~"
    },
    "0xf70c-0x20000" : {
      "Action" : 10,
      "Text" : "[20;2~"
    },
    "0xf729-0x20000" : {
      "Action" : 10,
      "Text" : "[1;2H"
    },
    "0xf72b-0x40000" : {
      "Action" : 10,
      "Text" : "[1;5F"
    },
    "0xf705-0x20000" : {
      "Action" : 10,
      "Text" : "[1;2Q"
    },
    "0xf703-0x260000" : {
      "Action" : 10,
      "Text" : "[1;6C"
    },
    "0xf700-0x220000" : {
      "Action" : 10,
      "Text" : "[1;2A"
    },
    "0xf701-0x280000" : {
      "Action" : 11,
      "Text" : "0x1b 0x1b 0x5b 0x42"
    },
    "0x38-0x40000" : {
      "Action" : 11,
      "Text" : "0x7f"
    },
    "0x33-0x40000" : {
      "Action" : 11,
      "Text" : "0x1b"
    },
    "0xf703-0x220000" : {
      "Action" : 10,
      "Text" : "[1;2C"
    },
    "0xf701-0x240000" : {
      "Action" : 10,
      "Text" : "[1;5B"
    },
    "0xf70d-0x20000" : {
      "Action" : 10,
      "Text" : "[21;2~"
    },
    "0xf702-0x260000" : {
      "Action" : 10,
      "Text" : "[1;6D"
    },
    "0xf729-0x40000" : {
      "Action" : 10,
      "Text" : "[1;5H"
    },
    "0xf706-0x20000" : {
      "Action" : 10,
      "Text" : "[1;2R"
    },
    "0x34-0x40000" : {
      "Action" : 11,
      "Text" : "0x1c"
    },
    "0xf700-0x280000" : {
      "Action" : 11,
      "Text" : "0x1b 0x1b 0x5b 0x41"
    },
    "0x2d-0x40000" : {
      "Action" : 11,
      "Text" : "0x1f"
    },
    "0xf70e-0x20000" : {
      "Action" : 10,
      "Text" : "[23;2~"
    },
    "0xf702-0x220000" : {
      "Action" : 10,
      "Text" : "[1;2D"
    },
    "0xf703-0x280000" : {
      "Action" : 11,
      "Text" : "0x1b 0x1b 0x5b 0x43"
    },
    "0xf700-0x240000" : {
      "Action" : 10,
      "Text" : "[1;5A"
    },
    "0xf707-0x20000" : {
      "Action" : 10,
      "Text" : "[1;2S"
    },
    "0xf70a-0x20000" : {
      "Action" : 10,
      "Text" : "[18;2~"
    },
    "0x35-0x40000" : {
      "Action" : 11,
      "Text" : "0x1d"
    },
    "0xf70f-0x20000" : {
      "Action" : 10,
      "Text" : "[24;2~"
    },
    "0xf703-0x240000" : {
      "Action" : 10,
      "Text" : "[1;5C"
    },
    "0xf701-0x260000" : {
      "Action" : 10,
      "Text" : "[1;6B"
    },
    "0xf702-0x280000" : {
      "Action" : 11,
      "Text" : "0x1b 0x1b 0x5b 0x44"
    },
    "0xf72b-0x20000" : {
      "Action" : 10,
      "Text" : "[1;2F"
    },
    "0x36-0x40000" : {
      "Action" : 11,
      "Text" : "0x1e"
    },
    "0xf708-0x20000" : {
      "Action" : 10,
      "Text" : "[15;2~"
    },
    "0xf701-0x220000" : {
      "Action" : 10,
      "Text" : "[1;2B"
    },
    "0xf70b-0x20000" : {
      "Action" : 10,
      "Text" : "[19;2~"
    },
    "0xf702-0x240000" : {
      "Action" : 10,
      "Text" : "[1;5D"
    },
    "0xf704-0x20000" : {
      "Action" : 10,
      "Text" : "[1;2P"
    }
  },
  "Ansi 14 Color" : {
    "Green Component" : 1,
    "Blue Component" : 1,
    "Red Component" : 0.33
  },
  "Ansi 2 Color" : {
    "Green Component" : 0.73,
    "Blue Component" : 0,
    "Red Component" : 0
  },
  "Send Code When Idle" : false,
  "ASCII Anti Aliased" : true,
  "Tags" : [

  ],
  "Ansi 9 Color" : {
    "Green Component" : 0.33,
    "Blue Component" : 0.33,
    "Red Component" : 1
  },
  "Use Bold Font" : true,
  "Silence Bell" : false,
  "Ansi 12 Color" : {
    "Green Component" : 0.33,
    "Blue Component" : 1,
    "Red Component" : 0.33
  },
  "Window Type" : 0,
  "Has Hotkey" : false,
  "Use Bright Bold" : true,
  "Cursor Text Color" : {
    "Green Component" : 1,
    "Blue Component" : 1,
    "Red Component" : 1
  },
  "Default Bookmark" : "No",
  "Cursor Color" : {
    "Green Component" : 0.73,
    "Blue Component" : 0.73,
    "Red Component" : 0.73
  },
  "Ansi 1 Color" : {
    "Green Component" : 0,
    "Blue Component" : 0,
    "Red Component" : 0.73
  },
  "Name" : "m1well",
  "Blinking Cursor" : false,
  "Guid" : "D5AA25D8-D42B-4164-93AD-D0AF8517FEBB",
  "Ansi 8 Color" : {
    "Green Component" : 0.33,
    "Blue Component" : 0.33,
    "Red Component" : 0.33
  },
  "Ansi 10 Color" : {
    "Green Component" : 1,
    "Blue Component" : 0.33,
    "Red Component" : 0.33
  },
  "Idle Code" : 0,
  "Smart Cursor Color" : false,
  "Ambiguous Double Width" : false,
  "Blur Radius" : 3.29,
  "Ansi 0 Color" : {
    "Green Component" : 0,
    "Blue Component" : 0,
    "Red Component" : 0
  },
  "AWDS Pane Directory" : "",
  "Blur" : true,
  "Vertical Spacing" : 1,
  "Normal Font" : "InconsolataNerdFontCompleteM-Medium 14",
  "Ansi 7 Color" : {
    "Green Component" : 0.74,
    "Blue Component" : 0.74,
    "Red Component" : 0.74
  },
  "Space" : 0,
  "AWDS Tab Directory" : "",
  "AWDS Pane Option" : "No",
  "Terminal Type" : "xterm-256color",
  "Horizontal Spacing" : 1,
  "Option Key Sends" : 0,
  "Only The Default BG Color Uses Transparency" : true,
  "Minimum Contrast" : 0,
  "Ansi 15 Color" : {
    "Green Component" : 1,
    "Blue Component" : 1,
    "Red Component" : 1
  },
  "Ansi 6 Color" : {
    "Green Component" : 0.74,
    "Blue Component" : 0.74,
    "Red Component" : 0
  },
  "Transparency" : 0.15,
  "Background Color" : {
    "Red Component" : 0.04,
    "Color Space" : "sRGB",
    "Blue Component" : 0.14,
    "Alpha Component" : 1.00,
    "Green Component" : 0.08
  },
  "Screen" : -1,
  "AWDS Window Option" : "No",
  "Bound Hosts" : [

  ],
  "Non Ascii Font" : "Monaco 12",
  "Ansi 13 Color" : {
    "Green Component" : 0.33,
    "Blue Component" : 1.00,
    "Red Component" : 1.00
  },
  "Columns" : 225,
  "Visual Bell" : true,
  "Custom Directory" : "Advanced",
  "Ansi 5 Color" : {
    "Green Component" : 0,
    "Blue Component" : 0.74,
    "Red Component" : 0.74
  }
}
     ]
}
