{
  "Profiles":[
    {
      "Guid":"D5AA25D8-D42B-4164-93AD-D0AF8517FEBB",
      "Name":"m1well",
      "Blinking Cursor":false,
      "Prompt Before Closing 2":false,
      "Character Encoding":4,
      "Rows":70,
      "Columns":225,
      "Normal Font":"InconsolataNerdFontCompleteM-Medium 15",
      "Non Ascii Font":"Monaco 12",
      "Terminal Type":"xterm-256color",
      "Disable Window Resizing":true,
      "Close Sessions On End":true,
      "Description":"Default",
      "Transparency":0.10,
      "Use Bright Bold":true,
      "Use Italic Font":true,
      "Use Bold Font":true,
      "Sync Title":false,
      "Scrollback Lines":3000,
      "Cursor Boost":0.1,
      "Background Color":{
        "Color Space":"sRGB",
        "Alpha Component":1.00,
        "Red Component":0.05,
        "Green Component":0.05,
        "Blue Component":0.10
      },
      "Foreground Color":{
        "Red Component":0.85,
        "Green Component":0.85,
        "Blue Component":0.85
      },
      "Selected Text Color":{
        "Red Component":0.10,
        "Green Component":0.10,
        "Blue Component":0.10
      },
      "Selection Color":{
        "Red Component":0.75,
        "Green Component":0.75,
       "Blue Component":0.99
      },
      "Jobs to Ignore":[
        "rlogin",
        "ssh",
        "slogin",
        "telnet"
      ]
    }
  ]
}
